<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Idea 3" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/fundamentals">Fundamentals</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-1">.1</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-2">.2</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-3">.3</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-4">.4</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-5">.5</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-6">.6</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-7">.7</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-8">.8</a></td>
        <td></td>
            <a href="{{site.baseurl}}/csp/big-idea/3-10-1">.10</a></td>
            <ul class="submenu">
                <li><a href="{{site.baseurl}}/csp/big-idea/3-10-1">.10.1</a></li>
                <li><a href="{{site.baseurl}}/csp/big-idea/3-10-2">.10.2</a></li>
                <li><a href="{{site.baseurl}}/csp/big-idea/3-10-3">.10.3</a></li>
                <li><a href="{{site.baseurl}}/csp/big-idea/3-10-4">.10.4</a></li>
            </ul>
        </td>
</table>

<td>
    <a href="{{site.baseurl}}/csp/big-idea/3-10">.8</a></td>
    <ul class="submenu">
        <li><a href="{{site.baseurl}}/csp/big-idea/3-10-1">.8.1</a></li>
        <li><a href="{{site.baseurl}}/csp/big-idea/3-10-2">.8.2</a></li>
        <li><a href="{{site.baseurl}}/csp/big-idea/3-10-3">.8.3</a></li>
        <li><a href="{{site.baseurl}}/csp/big-idea/3-10-4">.8.4</a></li>
        <li><a href="{{site.baseurl}}/csp/big-idea/3-10-4">.8.5</a></li>
    </ul>
</td>